<div class="text-center">

  <h4> <strong>Edit your Post</strong></h4>

  <% if current_user.id != @post.user_id %>
   <% controller.redirect_to posts_path %>
  <%end%>

  <%= render 'form', post: @post %>

  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>

</div>
